body{
    text-align:center;
    background-color:#e3d3d3;
    color:#992f53;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    line-height: 40px;
}

input[type="submit"]{
    font-size:15px;
    padding:3px;
    padding-left:5px;
    padding-right:5px;
    margin-left:2%;
    background-color:#a34e4e;
    color:#f2e6e6;
}

a:link{
    text-decoration: none;
}

a:hover{
    color:#fffea6;
}

.about{
    position:absolute;
    margin-top:20px;
    margin-left:2%;
}
input[type="submit"]:hover{
    background-color:#fffea6;
    color:brown;
}
/*main.php*/
.sort{
    display:inline-block;
    margin-top:0px;
    position:relative;
}
.sort input[type="submit"]{
    font-size:18px;
}
#sort_new{
    margin-left:5%;
    margin-top:15px;
}
#undo_sort{
    margin-left:12%;
}
.undo_sort input[type="submit"]{
    font-size:18px;
}
#show_all , #undo_show_all{
    margin-top:50px;
}
#show_all input[type="submit"], #undo_show_all input[type="submit"]{
    font-size:18px;
}
.logout{
    position:relative;
    float:right;
    margin-right:1%;
    font-size:27px;
}

.logout input[type="submit"]{
    font-size:22px;
    padding-left:10px;
    padding-right:10px;
}
#new_post{
    position:relative;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    width:600px;
}
#new_post #upload_div #new_link input[type="text"]{
    font-size:20px;
}
#stories{
    background-color:#e3d3d3;
    color:#992f53;
    padding:20px 2% 50px 2%;
    margin-top:100px;
    font-size:18px;
    line-height:25px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
.story{
    margin-top:30px;
}

.post_username, .comment_username{
    font-weight: bold;
    font-size:25px;
}
.comment_story_username{
    font-weight: bold;
    font-size:35px;
}
.post_story{
    margin-left:0.5%;
}
.post_link{
    margin-left:1%;
}
.post_time{
    margin-left:1%;
    color:grey;
    margin-right:5%;
    font-size:14px;
}
#new_story_input{
    font-size:20px;
    width:100%;
    height:100px;
    padding:1%;
}
textarea{
    background-color:white;
    resize: none;
}
#new_link_input{
    margin-top:1%;
}

#post_button{
    position:relative;
    float:right;
}
#new_post #upload_div #post_button input[type="submit"]{
    font-size:20px;
}

#new_link{
    float:left;
}

.buttons{
    display:inline-block;
}
/*Login.php*/
#title{
    font-family: 'Raleway', sans-serif;
    display:inline-block;
    position:relative;
    margin-top:200px;
    font-size:50px;
}
#log_in_form{
    margin-top:150px;
}

.big{
    font-size:30px;
}

#login_username{
    height:30px;
    margin-right:2%;
    
}
#login_password{
    height:30px;
}

/*signup.php*/
#sign_up_link{
    margin-top:100px;
}

#sign_up_form{
    margin-top:200px;
}

#sign_up_form input[type="text"],input[type="password"]{
    height:30px;
}

/*comment.php*/
#sort_new_comment{
    margin-left:5%;
}
#add_comment_form{
    margin-top:30px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:80px;
    
}

#new_comment_input{
    font-size:20px;
    width:100%;
    height:50px;
    padding:1%;
}

#comment_button{
    float:right;
}

#comment_story{
    margin-top:20px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#comments{
    padding:20px 2% 50px 2%;
    margin-top:100px;
    font-size:18px;
    line-height:30px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    margin-bottom:50px;
}

/*edit_story.php*/
#edit_story_form{
    margin-top:350px;
}
#edited_story{
    font-size:20px;
    width:30%;
    height:150px;
}

/*edit_comment.php*/
#edit_comment_form{
    margin-top:350px;
}

#edited_comment{
    font-size:20px;
    width:30%;
    height:100px;
}

/*edit_comment_success.php & edit_success.php*/
.edit{
    margin-top:350px;
}

/*uploader.php*/
#uploader{
    margin-top:350px;
}

/*about.html*/
#about_title{
    font-size:40px;
    margin-top:200px;
    margin-bottom:50px;
    font-family: 'Raleway', sans-serif;
}

#intro{
    margin-left:10%;
    margin-right:10%;
    margin-bottom:250px;
    font-size:22px;
    line-height: 50px;
}


/*change_like.php*/
#change_likes{
    margin-top:350px;
}